body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(14, 94, 31, 0.0);
    /* Transparent */
}

.circle {
    position: absolute;
    left: 100px;
    width: 230px;
    height: 230px;
    background-color: rgba(73, 43, 169, 0.1);
    /* Make the entire body draggable */
    pointer-events: none; /* Allow mouse events to pass through */
}

.rectangle {
    position: absolute;
    left: 100px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(124, 124, 124);
    /* 90% opacity */
    transform-origin: 50% 100px;
    -webkit-app-region: drag;
}
